@page
@model IndexModel
@{
    ViewData["Title"] = "RazorPizza";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Razor Pizzas</h1>
        <h2>Razor Sharp Pizzas, is the pizza for you and me!</h2>
    </div>

    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Submit</a>
</div>

@*2:28:23  OnGet and Displaying data form URL

to sa teraz wazne rzeczy razem z kolejnymi DB, pozniej mozna zrobic proste MVC z poradnika gdzie bede juz robil rzeczy pod prace ;) 
*@